<p>Saludos! Welcome to the National Dominican Student Conference family. This year's event will be taking place at <%= link_to "Yale University", eventbrite %> on <%= link_to "April 8-10, 2011", eventbrite %> - hosted by the <%= link_to "Dominican Student Association - QuisqueYalies", "http://sites.google.com/site/yaledsa/"%>.<br><br>
Each year, NDSC strives to bring you the highest quality of educational and empowering workshops, prominent and inspirational speakers, culturally influential movie screenings, art exhibitions, networking events, and parties – all of which serve to <%= link_to "educate", eventbrite %>, <%= link_to "uplift", eventbrite %>, and <%= link_to "unite", eventbrite %> the Dominican college student community.<br><br>
Interested in hosting an upcoming Conference? <%= link_to "You can!", host_path %> We look forward to seeing all of you again in 2011 for yet another memorable conference!<br><br>
~ NDSC</p>
