<!DOCTYPE html>
<html>
<head>
  <title>National Dominican Student Conference</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= render 'layouts/analytics' %>
</head>
<body>
  <div id="blue-bar"></div>	
  <%= render 'layouts/navigation' %>
  <div class="container round-container">
    <%= render 'layouts/header' %>
    <%= render 'layouts/left_column' %>
    <%= render 'layouts/tabs' %>       
		<section class="round-section">
		  <div class="content round-section">
			<%= yield %>
			</div>
    </section>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
